<li class="list-group-item" id="template">
    <div class="input-group">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <input type="number" class="form-control" id="quantity" placeholder="Quantity" autocomplete="off">
        <input type="text" class="form-control" id="name" placeholder="Item" autocomplete="off">
        <div class="dropdown">
            <input class="btn btn-secondary dropdown-toggle" type="button" id="cathegory" data-bs-toggle="dropdown" aria-expanded="false" value="Cathegory">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><button class="dropdown-item" type="button">Fruit and Veg</button></li>
                <li><button class="dropdown-item" type="button">Other</button></li>
            </ul>
        </div>
    </div>
</li>