<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/favicon.ico" rel="icon">

    <link rel="stylesheet" href="static/css/bootstrap.css">

    <link href="/static/css/styles.css" rel="stylesheet">
    {% block head %}

    {% endblock %}

    <title>Poor Student: {% block title %}{% endblock %}</title>

</head>

<body>

    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-center text-muted">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script type="application/javascript" src="static/js/bootstrap.js"></script>


</body>
    {% block invisible %} {% endblock %}

</html>