{% extends "layout.html" %}

{% block head %}


<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
{% endblock %}


{% block title %}
    Index
{% endblock %}

{% block main %}

<!--<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />-->
<div class="jumbotron">
    <!--<h1 class="display-4">Hello, student!</h1>-->
    <h1>
        From students to 
        <br>

        <span class="txt-rotate"
              data-period="2000"
              data-rotate='[ "students.", "friends.", "professionals.", "families."]'></span>
    </h1>
    <p class="lead"> You can make a grocery shopping list on this website and it tells you where you can fill your cart for the best price.</p>
    <hr class="my-4">
    <p>Start by making your first list!</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shoppingList"> My list</button>

    <!-- This will pop when the button is selected-->
    <div class="modal fade" id="shoppingList" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Shopping list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button id="search" type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='AnimatedText.js') }}"></script>
    {% endblock %}
